<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>FinanceNews</title>

    {% include 'snippets/header.html' %}

</head>

<body>

    <!-- Start of Body -->
    <style type="text/css">
        .main{
            min-height: 100vh;
            height: 100%
        }
    </style>
    <div class="main">

<!-- this block content places the code from personal/templates/personal -->
<!-- we can just put the template we want instead of typing everything out -->
        {% block content %}

        {% endblock content %}
    </div>
    <!-- End of Body -->

    {% include 'snippets/footer.html' %}

</body>


</html>